gunicorn
pydantic
absl-py                 
annotated-types        
astunparse             
blinker                 
blis                    
catalogue               
certifi               
charset-normalizer    
click                  
cloudpathlib            
confection             
cymem                  
es-core-news-sm        
Flask                  
flatbuffers           
gast                  
google-pasta         
grpcio                
h5py              
idna    
itsdangerous       
Jinja2                 
keras                  
keras-models           
langcodes               
language_data         
libclang               
marisa-trie          
Markdown           
markdown-it-py      
MarkupSafe           
mdurl                  